@import '@/assets/scss/variables';

.filter {
  position: relative;
  display: inline-block;

  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    border: 2px solid $gray-100;
    padding: 12px 0;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;

    &.active {
      border-radius: 0 0 8px 8px;
    }
  }

  &-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    left: 0;
    bottom: 100%;
    border: 2px solid $gray-100;
    width: 180px;
    transition: all 0.3s ease;

    &.active {
      border-bottom: none;
      border-radius: 8px 8px 0 0;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    padding: 12px 10px;
    cursor: pointer;

    &:not(&:last-child) {
      border-bottom: 2px solid $gray-100;
    }
  }
}
