@import '@/assets/scss/variables';

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 12px 0;

  &:not(:last-child) {
    border-bottom: 2px solid $gray-100;
  }

  &-title {
    max-width: 80%;
    line-height: 120%;
  }

  &-actions {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  @media (max-width: $md2 + px) {
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;

    &-title {
      max-width: 100%;
    }
  }

  @media (max-width: $md4 + px) {
    &-actions {
      flex-wrap: wrap;
    }
    &-checkbox {
      flex: 0 0 100%;
    }
  }
}
